Pandas is a Python library to support more general data than the Numpy array, which only holds numbers. 

They work together very well, as we shall see. 

We start by importing both Numpy and Pandas.

In [2]:
import numpy as np
import pandas as pd

We will be interested in two types of data structure in pandas: a timeseries, which is just a series of numbers (readings) and a DataFrame, which can hold general data and give it useful labels. 

To make a series and then see some of the elements is simple:

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [6]:
s[0:3]

0    1.0
1    3.0
2    5.0
dtype: float64

Making a dataframe is also simple. Here we make it using random numbers as a simple example. 
And then see how to get the first and last few rows, and get the indices, as well as some slices from the data.

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))

In [8]:
# Show the first few rows of the dataframe
df.head()

          A         B         C         D
0  1.626449  0.744606  0.676262 -0.485854
1  0.816126 -0.516419 -1.034769  0.447171
2 -0.413664 -1.080384  2.130751 -0.426538
3 -1.956698  0.324001 -0.491537  1.597456
4  1.186529  2.115837 -0.800212  1.625974

In [50]:
# Show the last few rows
# And the indices for the rows
# And the names of the columns
print(df.shape)
print("===")
print(df.tail(3))
print("===")
print(df.index)
print("===")
print(df.columns)

(6, 4)
===
          A         B         C         D
3 -1.956698  0.324001 -0.491537  1.597456
4  1.186529  2.115837 -0.800212  1.625974
5  0.645631 -0.074186 -0.116149 -1.135381
===
RangeIndex(start=0, stop=6, step=1)
===
Index(['A', 'B', 'C', 'D'], dtype='object')

Pandas can also show us some summary statistics, which is useful for preliminary data analysis

In [24]:
# Basic summary statistics about a dataframe
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.317395  0.252242  0.060724  0.270471
std    1.306249  1.113000  1.178260  1.154450
min   -1.956698 -1.080384 -1.034769 -1.135381
25%   -0.148840 -0.405861 -0.723043 -0.471025
50%    0.730878  0.124907 -0.303843  0.010316
75%    1.093928  0.639455  0.478159  1.309885
max    1.626449  2.115837  2.130751  1.625974

In [11]:
# Different information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 272.0 bytes

It can also be useful to see other parts of the data, for which we can use Numpy slicing in a few different ways. 

Getting rows is particularly easy:

In [34]:
df[1:4]

          A         B         C         D
1  0.816126 -0.516419 -1.034769  0.447171
2 -0.413664 -1.080384  2.130751 -0.426538
3 -1.956698  0.324001 -0.491537  1.597456

In [35]:
# We can get columns by name:
df[['A','C']]

          A         C
0  1.626449  0.676262
1  0.816126 -1.034769
2 -0.413664  2.130751
3 -1.956698 -0.491537
4  1.186529 -0.800212
5  0.645631 -0.116149

In [39]:
# And some subset of the rows as well using loc
df.loc[1:3,['A','D']]

          A         D
1  0.816126  0.447171
2 -0.413664 -0.426538
3 -1.956698  1.597456

In [38]:
# Or by index location if we don't know the column names
df.iloc[:2,1:3]

          B         C
0  0.744606  0.676262
1 -0.516419 -1.034769

The next things that are useful to do are find places where something is true (or false).

Note that in Python, ~ means not, | means or, and & means and.

In [43]:
# The first way is to get rows where a column has some properties
df[df.A>1]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [45]:
# To combine things, use those logical operators, but make sure that you use brackets to evaluate each clause
df[(df.A>1) & (df.B<1)]

          A         B         C         D
0  1.626449  0.744606  0.676262 -0.485854

In [48]:
# Or use df.query()
df.query('A>C')

          A         B         C         D
0  1.626449  0.744606  0.676262 -0.485854
1  0.816126 -0.516419 -1.034769  0.447171
4  1.186529  2.115837 -0.800212  1.625974
5  0.645631 -0.074186 -0.116149 -1.135381

In [49]:
df[df.A>df.C]

          A         B         C         D
0  1.626449  0.744606  0.676262 -0.485854
1  0.816126 -0.516419 -1.034769  0.447171
4  1.186529  2.115837 -0.800212  1.625974
5  0.645631 -0.074186 -0.116149 -1.135381

In [12]:
df.sort_index(axis=1, ascending=False)

          D         C         B         A
0 -0.485854  0.676262  0.744606  1.626449
1  0.447171 -1.034769 -0.516419  0.816126
2 -0.426538  2.130751 -1.080384 -0.413664
3  1.597456 -0.491537  0.324001 -1.956698
4  1.625974 -0.800212  2.115837  1.186529
5 -1.135381 -0.116149 -0.074186  0.645631

In [13]:
df.sort_values(by='B')

          A         B         C         D
2 -0.413664 -1.080384  2.130751 -0.426538
1  0.816126 -0.516419 -1.034769  0.447171
5  0.645631 -0.074186 -0.116149 -1.135381
3 -1.956698  0.324001 -0.491537  1.597456
0  1.626449  0.744606  0.676262 -0.485854
4  1.186529  2.115837 -0.800212  1.625974

In [18]:
df.query('A>C')

          A         B         C         D
0  1.626449  0.744606  0.676262 -0.485854
1  0.816126 -0.516419 -1.034769  0.447171
4  1.186529  2.115837 -0.800212  1.625974
5  0.645631 -0.074186 -0.116149 -1.135381

In [22]:
df[df.A>1]

          A         B         C         D
0  1.626449  0.744606  0.676262 -0.485854
4  1.186529  2.115837 -0.800212  1.625974

# Reading data
Of course, it would be better to have more interesting data than a set of random numbers. We can read csv data and excel data, either from a local file or directly the web directly by giving a url instead

In [61]:
df = pd.read_csv('~/Dropbox/Transfer/Teaching/DATA201/Datasets/default_credit.csv')

In [62]:
df = pd.read_excel('~/Dropbox/Transfer/Teaching/DATA201/Datasets/default_credit.xls')

Now try some of the commands above on this new dataset.

- Find all the people over 50 with credit card debt
- Find all the married people with sex=1 who will default next month
- Find all the married people with total pay over $10000 who will default next month